/* _content/BioTranan.Client/Pages/MovieDetails.razor.rz.scp.css */
.hero-overlay[b-m6j37qtx4h] {
    position: absolute;
    top: 20px;
    left: 20px; 
  }
  
  .hero-overlay img[b-m6j37qtx4h] {
    width: 100px;
    height: 600px;
    height: auto;
  }
  
    .columns-container[b-m6j37qtx4h] {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        flex-wrap: nowrap;
    }
  
    .left-column[b-m6j37qtx4h] {
        width: 300px;
        padding-left: 10px;
        flex-basis: 25%;
    }
    
    .middle-column[b-m6j37qtx4h] {
        flex-basis: 50%;
        flex-grow: 4;
        text-align: left;
    }
    
    .right-column-2[b-m6j37qtx4h] {
        display: flex;
        flex-direction: column;
        width: 200px;
        text-align: left;
    }
  
    .right-2-item-1[b-m6j37qtx4h] {
      padding-left:20px;  
    }
  
    .right-2-item-2[b-m6j37qtx4h] {
        padding-top:100px;
    }
  
    .right-column[b-m6j37qtx4h] {
        text-align: right;
        flex-basis: 25%;
        width: 300px;
    }
  
    .movie-description[b-m6j37qtx4h], .movie-plot[b-m6j37qtx4h] {
    }
  
    .booking-form[b-m6j37qtx4h] {
    }
  
    .hero-image h1[b-m6j37qtx4h] {
        font-size: 36px;
        margin: 0;
        padding-left: 115px;
    }
  
    .hero-image p[b-m6j37qtx4h] {
        font-size: 18px;
        margin: 0;
        padding-left: 115px;
    }
  
    .booking-form[b-m6j37qtx4h] {
        margin: 20px;
    }
  
    .movie-description[b-m6j37qtx4h] {
        margin: 20px;
    }
  
    .columns-container[b-m6j37qtx4h] {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
  
    .right-column h2[b-m6j37qtx4h] {
        margin-top: 0;
    }
  
    .right-column form[b-m6j37qtx4h] {
        display: flex;
        flex-direction: column;
    }
  
    .right-column label[b-m6j37qtx4h],
    .right-column input[b-m6j37qtx4h] {
        margin-bottom: 10px;
    }
  
    .right-column input[type="email"][b-m6j37qtx4h],
    .right-column input[type="number"][b-m6j37qtx4h] {
        padding: 5px;
        width: 100%;
    }
  
    .right-column input[type="submit"][b-m6j37qtx4h] {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
  
    .right-column input[type="submit"]:hover[b-m6j37qtx4h] {
        background-color: #0056b3;
    }
/* _content/BioTranan.Client/Pages/Receipt.razor.rz.scp.css */
*[b-mduvu4wgh4] {
    margin: 0;
    padding: 0;
  }
  body[b-mduvu4wgh4], html[b-mduvu4wgh4] {
    min-width: 65%;
    min-height: 100vh;
  }
  body[b-mduvu4wgh4] {
    background: #f9f9f9d0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  h2[b-mduvu4wgh4], h5[b-mduvu4wgh4] {
    color: #2F463D;
  }
  
  h2[b-mduvu4wgh4], h5[b-mduvu4wgh4], h6[b-mduvu4wgh4], a[b-mduvu4wgh4], button[b-mduvu4wgh4] {
    font-family: Montserrat;
  }
  
  .card[b-mduvu4wgh4] {
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #2e8a64;
    width: 370px;
    height: 650px;
    margin: 70px 0;
    border-radius: 5px;
    position: relative;
  }
  
  .card.left[b-mduvu4wgh4] {
    margin-right: -20px;
  }
  
  .card.right[b-mduvu4wgh4] {
    margin-left: -20px;
  }
  .card.left[b-mduvu4wgh4], .card.right[b-mduvu4wgh4] {
    height: 450px;
    z-index: 1;
    width: 350px;
    margin-left: 600px;
  }
  
  .card.center[b-mduvu4wgh4] {
     z-index: 9;
     width: 370px;
  }
  .card:hover[b-mduvu4wgh4] {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #close-button[b-mduvu4wgh4] {
    position: absolute;
    top: 15px;
    right: 15px;
    
  }
  .container[b-mduvu4wgh4] {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 55px 45px;
    }
  .container > h2[b-mduvu4wgh4] {
    margin: 20px 0 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
  }
  .container > p[b-mduvu4wgh4] {
   font-family: Ubuntu;
   font-size: 14px;
   line-height: 20px;
   color: #828282;
  }
  
  .menu-item[b-mduvu4wgh4] {
    display: flex;
    align-items: center;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 40px 0 30px;
  }
  .food-name-price[b-mduvu4wgh4] {
    width: 50%;
    text-align: left;
    padding-left: 15px;
  }
  .food-name-price h5[b-mduvu4wgh4] {
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 3px;
  }
  .food-name-price h6[b-mduvu4wgh4] {
   font-weight: 500;
    color: #7A8F85;
    font-weight: 12px;
  }
  .menu-item a[b-mduvu4wgh4] {
    color: #467A66;
    font-weight: bold;
    font-size: 12px;
  }
  
  .right[b-mduvu4wgh4], .left[b-mduvu4wgh4] {
    display: none;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .right[b-mduvu4wgh4], .left[b-mduvu4wgh4] {
      display: block;
    }
  }
/* _content/BioTranan.Client/Pages/Shows.razor.rz.scp.css */
body[inherit-scope] {
	background: #f9f9f9d0;
	font-family: "Roboto", sans-serif;
}

.main-content[inherit-scope] {
	padding-top: 100px;
	padding-bottom: 100px;
}

.table[inherit-scope] {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th[inherit-scope],
.table thead tr td[inherit-scope],
.table tbody tr th[inherit-scope],
.table tbody tr td[inherit-scope] {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1)[inherit-scope],
.table thead tr td:nth-last-child(1)[inherit-scope],
.table tbody tr th:nth-last-child(1)[inherit-scope],
.table tbody tr td:nth-last-child(1)[inherit-scope] {
	text-align: center;
}
.table tbody tr[inherit-scope] {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.table tbody tr td[inherit-scope] {
	background: #fff;
}
.table tbody tr td:nth-child(1)[inherit-scope] {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1)[inherit-scope] {
	border-radius: 0 5px 5px 0;
}

.image-info[inherit-scope] {
	display: flex;
	align-items: center;
}

.image-info__img icon[inherit-scope] {
	margin-right: 15px;
	width: 20px;
  height: 20px;
	border-radius: 50px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  img[inherit-scope] {
    border-radius: 50%;
    width: 50px;
  }
/* _content/BioTranan.Client/Pages/Tickets.razor.rz.scp.css */
*[b-dx1qo796ry] {
    margin: 0;
    padding: 0;
  }
  body[b-dx1qo796ry], html[b-dx1qo796ry] {
    min-width: 65%;
    min-height: 100vh;
  }
  body[b-dx1qo796ry] {
    background: #f9f9f9d0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .btn[b-dx1qo796ry] {
    background-color: #5CAC66;
    color: white;
  }
  
  h2[b-dx1qo796ry], h5[b-dx1qo796ry] {
    color: #2F463D;
  }
  
  h2[b-dx1qo796ry], h5[b-dx1qo796ry], h6[b-dx1qo796ry], a[b-dx1qo796ry], button[b-dx1qo796ry] {
    font-family: Montserrat;
  }
  
  .card[b-dx1qo796ry] {
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #2e8a64;
    width: 370px;
    height: 650px;
    margin: 70px 0;
    border-radius: 5px;
    position: relative;
  }
  
  .card.left[b-dx1qo796ry] {
    margin-right: -20px;
  }
  
  .card.right[b-dx1qo796ry] {
    margin-left: -20px;
  }
  .card.left[b-dx1qo796ry], .card.right[b-dx1qo796ry] {
    height: 450px;
    z-index: 1;
    width: 350px;
    margin-left: 600px;
  }
  
  .card.center[b-dx1qo796ry] {
     z-index: 9;
     width: 370px;
  }
  .card:hover[b-dx1qo796ry] {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #close-button[b-dx1qo796ry] {
    position: absolute;
    top: 15px;
    right: 15px;
    
  }
  .container[b-dx1qo796ry] {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 55px 45px;
    }
  .container > h2[b-dx1qo796ry] {
    margin: 20px 0 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
  }
  .container > p[b-dx1qo796ry] {
   font-family: Ubuntu;
   font-size: 14px;
   line-height: 20px;
   color: #828282;
  }
  
  .menu-item[b-dx1qo796ry] {
    display: flex;
    align-items: center;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 40px 0 30px;
  }
  .food-name-price[b-dx1qo796ry] {
    width: 50%;
    text-align: left;
    padding-left: 15px;
  }
  .food-name-price h5[b-dx1qo796ry] {
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 3px;
  }
  .food-name-price h6[b-dx1qo796ry] {
   font-weight: 500;
    color: #7A8F85;
    font-weight: 12px;
  }
  .menu-item a[b-dx1qo796ry] {
    color: #467A66;
    font-weight: bold;
    font-size: 12px;
  }
  
  .right[b-dx1qo796ry], .left[b-dx1qo796ry] {
    display: none;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .right[b-dx1qo796ry], .left[b-dx1qo796ry] {
      display: block;
    }
  }
/* _content/BioTranan.Client/Shared/MainLayout.razor.rz.scp.css */
.page[b-6vhs9ed8b4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6vhs9ed8b4] {
    flex: 1;
}

.sidebar[b-6vhs9ed8b4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6vhs9ed8b4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6vhs9ed8b4]  a, .top-row .btn-link[b-6vhs9ed8b4] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6vhs9ed8b4] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6vhs9ed8b4] {
        display: none;
    }

    .top-row.auth[b-6vhs9ed8b4] {
        justify-content: space-between;
    }

    .top-row a[b-6vhs9ed8b4], .top-row .btn-link[b-6vhs9ed8b4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6vhs9ed8b4] {
        flex-direction: row;
    }

    .sidebar[b-6vhs9ed8b4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6vhs9ed8b4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-6vhs9ed8b4], article[b-6vhs9ed8b4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
