* {
    margin: 0;
    padding: 0;
  }
  body, html {
    min-width: 65%;
    min-height: 100vh;
  }
  body {
    background: #f9f9f9d0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .btn {
    background-color: #5CAC66;
    color: white;
  }
  
  h2, h5 {
    color: #2F463D;
  }
  
  h2, h5, h6, a, button {
    font-family: Montserrat;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #2e8a64;
    width: 370px;
    height: 650px;
    margin: 70px 0;
    border-radius: 5px;
    position: relative;
  }
  
  .card.left {
    margin-right: -20px;
  }
  
  .card.right {
    margin-left: -20px;
  }
  .card.left, .card.right {
    height: 450px;
    z-index: 1;
    width: 350px;
    margin-left: 600px;
  }
  
  .card.center {
     z-index: 9;
     width: 370px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    
  }
  .container {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 55px 45px;
    }
  .container > h2 {
    margin: 20px 0 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
  }
  .container > p {
   font-family: Ubuntu;
   font-size: 14px;
   line-height: 20px;
   color: #828282;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 40px 0 30px;
  }
  .food-name-price {
    width: 50%;
    text-align: left;
    padding-left: 15px;
  }
  .food-name-price h5 {
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 3px;
  }
  .food-name-price h6 {
   font-weight: 500;
    color: #7A8F85;
    font-weight: 12px;
  }
  .menu-item a {
    color: #467A66;
    font-weight: bold;
    font-size: 12px;
  }
  
  .right, .left {
    display: none;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .right, .left {
      display: block;
    }
  }