/* _content/BioTranan.Web/Pages/MovieDetails.razor.rz.scp.css */
.hero-overlay[b-7f44ju3ueb] {
  position: absolute;
  top: 20px; /* Justera vertikal position */
  left: 20px; /* Justera horisontell position */
}

.hero-overlay img[b-7f44ju3ueb] {
  width: 100px; /* Justera bildens bredd */
  height: 600px;
  height: auto; /* Så att höjden anpassas proportionellt */
}

  .columns-container[b-7f44ju3ueb] {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      flex-wrap: nowrap;
  }

  .left-column[b-7f44ju3ueb] {
      width: 300px;
      padding-left: 10px;
      flex-basis: 25%;
  }
  
  .middle-column[b-7f44ju3ueb] {
      flex-basis: 50%;
      flex-grow: 4;
      text-align: left;
  }
  
  .right-column-2[b-7f44ju3ueb] {
      display: flex;
      flex-direction: column;
      width: 200px;
      text-align: left;
  }

  .right-2-item-1[b-7f44ju3ueb] {
    padding-left:20px;  
  }

  .right-2-item-2[b-7f44ju3ueb] {
      padding-top:100px;
  }

  .right-column[b-7f44ju3ueb] {
      text-align: right;
      flex-basis: 25%;
      width: 300px;
  }

  .movie-description[b-7f44ju3ueb], .movie-plot[b-7f44ju3ueb] {
      /* Stilisera filminformation och filmens handling efter behov */
  }

  .booking-form[b-7f44ju3ueb] {
      /* Stilisera bokningsformuläret efter behov */
  }

  .hero-image h1[b-7f44ju3ueb] {
      font-size: 36px;
      margin: 0;
      padding-left: 115px;
  }

  .hero-image p[b-7f44ju3ueb] {
      font-size: 18px;
      margin: 0;
      padding-left: 115px;
      /* Tar bort eventuell marginal på p-elementet */
  }

  .booking-form[b-7f44ju3ueb] {
      margin: 20px;
  }

  .movie-description[b-7f44ju3ueb] {
      margin: 20px;
  }

  .columns-container[b-7f44ju3ueb] {
      display: flex;
      justify-content: space-between;
      margin: 20px;
  }

  .right-column h2[b-7f44ju3ueb] {
      margin-top: 0;
  }

  .right-column form[b-7f44ju3ueb] {
      display: flex;
      flex-direction: column;
  }

  .right-column label[b-7f44ju3ueb],
  .right-column input[b-7f44ju3ueb] {
      margin-bottom: 10px;
  }

  .right-column input[type="email"][b-7f44ju3ueb],
  .right-column input[type="number"][b-7f44ju3ueb] {
      padding: 5px;
      width: 100%;
  }

  .right-column input[type="submit"][b-7f44ju3ueb] {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  .right-column input[type="submit"]:hover[b-7f44ju3ueb] {
      background-color: #0056b3;
  }
/* _content/BioTranan.Web/Pages/Shows.razor.rz.scp.css */
body[inherit-scope] {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.main-content[inherit-scope] {
	padding-top: 100px;
	padding-bottom: 100px;
}

.table[inherit-scope] {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th[inherit-scope],
.table thead tr td[inherit-scope],
.table tbody tr th[inherit-scope],
.table tbody tr td[inherit-scope] {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1)[inherit-scope],
.table thead tr td:nth-last-child(1)[inherit-scope],
.table tbody tr th:nth-last-child(1)[inherit-scope],
.table tbody tr td:nth-last-child(1)[inherit-scope] {
	text-align: center;
}
.table tbody tr[inherit-scope] {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.table tbody tr td[inherit-scope] {
	background: #fff;
}
.table tbody tr td:nth-child(1)[inherit-scope] {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1)[inherit-scope] {
	border-radius: 0 5px 5px 0;
}

.image-info[inherit-scope] {
	display: flex;
	align-items: center;
}

.image-info__img icon[inherit-scope] {
	margin-right: 15px;
	width: 20px;
  height: 20px;
	border-radius: 50px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  img[inherit-scope] {
    border-radius: 50%;
    width: 50px;
  }
